* {
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'East Sea Dokdo', cursive;
}

.about-me {
  display: flex;
  font-size: 30px;
  line-height: 30px;
  border: 40px solid #9b59b6;
  border-radius: 10px;
  width: 30vw;
  min-width: 300px;
  height: 660px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 10vh auto;
  padding: 10px 0 0 0;
}


#rudy {
  width: 30vw;
  min-width: 300px;
  height: 490px;
}

.btn {
  position: relative;
  top: 20px;
}

#home-btn, #next-btn {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  top: 2px;
  color: white;
  background-color: #8e44ad;
  border: 0;
  border-radius: 3px;
}

#indicator {
  position: relative;
  top: 10px;
  color: white;
}